<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Developer Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Saját fejlesztések</h1>

<div>
    <a href="/devpage/new">Új játék hozzáadása</a>
</div>

<table>
    <thead>
    <tr>
        <th>Cim</th>
        <th>Leirás</th>
        <th>Ár(ft)</th>
        <th>Fejlesztő</th>
        <th>Lehetőségek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.title}"></td>
        <td th:text="${game.description}"></td>
        <td th:text="${game.price}"></td>
        <td th:text="${game.developer?.username}">ismeretlen</td>
        <td>
            <button class="actions-button" th:onclock="@{/devpage/edit/{id}(id=${game.id})}">Változtatás</button>
            <button class="actions-button" th:onclock="@{/devpage/delete/{id}(id=${game.id})}">Törlés</button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <p>
        <a th:href="@{/}">Vissza</a>
    </p>
</div>

</body>
</html>
