<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hozzászólás megváltoztatása</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Hozzászólás megváltoztatása</h1>
<table>
  <thead>
  <tr>
    <th>Edit Review</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <form th:action="@{/reviews/update/{id}(id=${review.id})}" method="post">
        <p>
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" min="1" max="5" th:value="${review.rating}" required />
        </p>

        <p>
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" rows="4" cols="50" th:value="${review.comment}" required></textarea>
        </p>

        <p>
          <button type="submit">Update Review</button>
        </p>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<ul class="navigation-list">
  <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
    <form th:action="@{/reviews/}" method="GET">
      <button type="submit">Értékelések</button>
    </form>
  </li>
  <li sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')">
    <form th:action="@{/devpage}" method="GET">
      <button type="submit">Fejlesztői lap</button>
    </form>
  </li>
  <li sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/admin/users}" method="GET">
      <button type="submit">Admin lap</button>
    </form>
  </li>
  <li>
    <form th:action="@{/purchases}" method="GET">
      <button type="submit">Birtokolt játékok</button>
    </form>
  </li>
  <li>
    <form th:action="@{/}" method="GET">
      <button type="submit">Visza az árúházba</button>
    </form>
  </li>
</ul>
</div>


</body>
</html>
