<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Welcome Home</h1>

<div>
    <p>
        Bejelentkezett felhasználó:
        <span th:if="${user != null}" th:text="${user.username}">Nincs bejelentkezett felhasználó</span>
    </p>
    <p>Fiók egyenleg: <span th:text="${userBalance}"></span></p>
</div>

<hr>

<div>
    <table>
        <thead>
        <tr>
            <th>Game</th>
            <th>Description</th>
            <th>Price</th>
            <th>Developer</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.title}"></td>
            <td th:text="${game.description}"></td>
            <td th:text="${game.price}"></td>
            <td th:text="${game.developer?.username}">Névtelen dev.</td>
            <td>
                <video width="320" height="240" controls>
                    <source th:src="@{'/videos/' + ${game.imagePath}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

            </td>

            </td>

            </td>
            <td class="actions">
                <form th:action="@{/purchases/purchase}" method="POST">
                    <input type="hidden" th:name="gameId" th:value="${game.id}" />
                    <button type="submit"
                            th:disabled="${userPurchasedGame.contains(game)}"
                            th:text="${userPurchasedGame.contains(game) ? 'You have already purchased this game' : 'Buy'}"></button>
                </form>
                <p th:if="${userPurchasedGame.contains(game)}" class="green">Már megvetted :)</p>
                <p th:if="${userBalance < game.price}" class="red">Nincs elég pénz a vásárláshoz.</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<div>
    
    <ul class="navigation-list">
        <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
            <form th:action="@{/reviews/}" method="GET">
                <button type="submit">Értékelések</button>
            </form>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')">
            <form th:action="@{/devpage}" method="GET">
                <button type="submit">Fejlesztői lap</button>
            </form>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <form th:action="@{/admin/users}" method="GET">
                <button type="submit">Admin lap</button>
            </form>
        </li>
        <li>
            <form th:action="@{/purchases}" method="GET">
                <button type="submit">Birtokolt játékok</button>
            </form>
        </li>
    </ul>
</div>

<hr>

<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>
