<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Game</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h2>Új játék publikálása</h2>
<table>
  <thead>
  <tr>
    <th>Játékadatok:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <form action="/devpage/new" method="POST" enctype="multipart/form-data">
        <p>
          <label for="title">Cim:</label>
          <input type="text" id="title" name="title" required>
        </p>
        <p>
          <label for="description">Játékleirás:</label>
          <textarea id="description" name="description" required></textarea>
        </p>
        <p>
          <label for="price">Fogyasztói ár:</label>
          <input type="number" id="price" name="price" required>
        </p>
        <p>
          <label for="video">Trailer feltöltése:</label>
          <input type="file" id="video" name="video" accept="video/*" required>
        </p>
        <p>
          <input type="submit" value="Create Game">
        </p>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<ul class="navigation-list">
  <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
    <form th:action="@{/reviews/}" method="GET">
      <button type="submit">Értékelések</button>
    </form>
  </li>
  <li sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')">
    <form th:action="@{/devpage}" method="GET">
      <button type="submit">Fejlesztői lap</button>
    </form>
  </li>
  <li sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/admin/users}" method="GET">
      <button type="submit">Admin lap</button>
    </form>
  </li>
  <li>
    <form th:action="@{/purchases}" method="GET">
      <button type="submit">Birtokolt játékok</button>
    </form>
  </li>
  <li>
    <form th:action="@{/}" method="GET">
      <button type="submit">Visza az árúházba</button>
    </form>
  </li>
</ul>
</body>
</html>
