<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bejelentkezes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Online játék árúház</h1>
<h2>Kérlek jelentkezz be!</h2>

<table>
    <thead>
    <tr>
        <th>bejelentkezés</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="login-form">
                <img src="@{/images/login.png}"/>
                <form action="/authenticatedUser" method="POST"  >
                    <p>
                        Username: <input type="text" name="username" required>
                    </p>
                    <p>
                        Password: <input type="password" name="password" required>
                    </p>
                    <input type="submit" value="Login">
                    <p>Regisztrálni <a href="/register">Itt tudsz. :D</a></p>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
