<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h2>Felhasználók (csak adminoknak, szuper titkos!)</h2>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Felhasználónév</th>
    <th>Email</th>
    <th>Műveletek</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <form th:action="@{/admin/delete-user}" method="post">
        <input type="hidden" name="userId" th:value="${user.id}" />
        <button type="submit">Törlés</button>
      </form>
      <form th:action="@{/admin/rename-user}" method="post">
        <input type="hidden" name="userId" th:value="${user.id}" />
        <input type="text" name="newUsername" placeholder="Új felhasználónév" required />
        <button type="submit">Átnevezés</button>
      </form>
      <form th:action="@{/admin/set-balance}" method="post">
        <input type="hidden" name="userId" th:value="${user.id}" />
        <input type="number" name="newBalance" placeholder="Új egyenleg" required />
        <button type="submit">Egyenleg módosítása</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<ul class="navigation-list">
  <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
    <form th:action="@{/reviews/}" method="GET">
      <button type="submit">Értékelések</button>
    </form>
  </li>
  <li sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')">
    <form th:action="@{/devpage}" method="GET">
      <button type="submit">Fejlesztői lap</button>
    </form>
  </li>
  <li sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/admin/users}" method="GET">
      <button type="submit">Admin lap</button>
    </form>
  </li>
  <li>
    <form th:action="@{/purchases}" method="GET">
      <button type="submit">Birtokolt játékok</button>
    </form>
  </li>
  <li>
    <form th:action="@{/}" method="GET">
      <button type="submit">Visza az árúházba</button>
    </form>
  </li>
</ul>

</body>
</html>
